@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/typography.scss';

.img {
  width: 10rem;
  height: 10rem;
  position: relative;
  background-size: cover;
  margin-right: 1rem;
  border: 2px solid #000;

  .delete {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}
