@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/globalStyles.scss';

.modalSlider {
  padding: 2rem;
  border-radius: 5px;
  background-color: transparent;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;

  div[class*='sliderContent'] {
    height: 70vh;
  }

  @media screen and (max-width: 570px) {
    width: 80vw;
    padding: 0;

    div[class*='sliderContent'] {
      height: 30vh;
    }
  }
}
