@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globalStyles.scss';

.filter-content {
    width: 100%;
}

.filter-content_addBtn {

    position: fixed;
    right: 50%;
    bottom: 5rem;
    transform: translateX(50%);
    z-index: 100;
}