@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globalStyles.scss';

.language-javascript-of-snippet {
    padding: 10px;
    background-color: #000;
    color: #fff;

    code {
        background-color: #000;
        color: #fff;
    }
}

.btns {
    display: flex;
    justify-content: space-between;
}

.grag {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed $black;
    position: relative;

    input {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

.tags_list {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    padding-bottom: 1rem;
    flex-wrap: wrap;

    &.error {
        border-bottom: 1px solid red;

        p {
            color: red;
        }
    }
}