@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globalStyles.scss';

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $mainColor;
        border-radius: 5px;
    }
}
