@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globalStyles.scss';

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        text-transform: uppercase;
        font-weight: 700;
        font-size: $h1;
    }

    img {
        width: 50%;
    }
}