@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/typography.scss';

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 70px);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &.active {
    opacity: 1;
    visibility: visible;
  }

  div:after {
    background-color: $main !important;
  }
}
