@import '../../assets/styles/colors.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/globals.scss';

.empty {
  background-image: url('../../../assets/images/empty.png');
  width: 500px;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 1050px) {
    width: 300px;
    height: 300px;
  }

  @media screen and (max-width: 570px) {
    width: 200px;
    height: 200px;
  }
}
