@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globalStyles.scss';

.filter_params {
    width: 100%;
    margin-bottom: 4rem;

    .params {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}