@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/globalStyles.scss';

.contentList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .list {
    width: 100%;
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    p {
      @extend %p1;
    }
  }
}
