@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/globalStyles.scss';

.contentList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .listLoader {
    position: static;
  }

  .btnAdd {
    position: fixed;
    bottom: 4rem;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba($gray, 0.2);
    transition: all 0.2s linear;
    &:hover {
      background-color: rgba($gray, 0.5);
    }

    svg {
      @extend %h1;
      color: $main;
    }
  }

  .list {
    width: 100%;
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    p {
      @extend %p1;
    }
  }
}
