@import '../../assets/styles/colors.scss';
@import '../../assets/styles/styles.scss';
@import '../../assets/styles/typography.scss';
@import '../../assets/styles/globals.scss';

.tag {
  padding: 0.5rem 1.5rem;
  border: 1px solid $gray;
  border-radius: 2rem;
  @extend %p2;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  background-color: transparent;
  box-shadow: 0px 0px 2px 0px $gray;

  @media screen and (max-width: 570px) {
    padding: 0.5rem 1rem;
  }

  .deleteTag {
    padding: 0;
    border-radius: 50%;
    margin-left: 0.5rem;
    background-color: transparent;

    svg {
      @extend %p1;
      color: $gray;
    }

    &:hover svg {
      color: $red;
    }
  }
}
