@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globalStyles.scss';


.imgs_screens {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;

    .img_item {
        width: 10rem;
        height: 10rem;
        position: relative;
        background-size: cover;
        margin-right: 1rem;
        border: 2px solid #000;

        .delete_img {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background-color: transparent;
            padding: 0;
        }
    }

    &.error {

        p {
            color: red;
        }

        img {
            border: 2px solid red;
        }
    }
}