@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globalStyles.scss';

.main {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}