@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globalStyles.scss';

.logo {
  color: $mainColor;
  flex-grow: 1;
  font-weight: 500 !important;
}

.theme_app {
  position: relative;
  border: none;
  z-index: 10;
  width: 5rem;
  height: 5rem;
  margin-right: 5rem;
  border-radius: 50%;
  overflow: hidden;

  svg: {
    color: 'red' !important;
  }

  .moon,
  .sun {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: 30px;
    }
  }

  .sun {
    transform: translateX(-50%) translateY(-190%);
  }

  &.dark {
    .moon {
      transform: translateX(-50%) translateY(-190%);
    }

    .sun {
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
