@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globalStyles.scss';

.content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}