@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globalStyles.scss';


.tags_list {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    padding-bottom: 1rem;
    flex-wrap: wrap;

    &.error {
        border-bottom: 1px solid red;

        p {
            color: red;
        }
    }
}