@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globalStyles.scss';


.button {
    padding: 10px;
    background-color: $mainColor;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: $white;
}