@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/globalStyles.scss';

.list {
  width: 100% !important;
  margin-top: 4rem;

  @extend %scroll;

  @media screen and (max-width: 570px) {
    margin-top: 4rem;
  }
}
