@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/globalStyles.scss';


.drag {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed $black;
    position: relative;

    input {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}