@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/globalStyles.scss';

.itemWrapper {
  padding: 2rem 0;
}

.item {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 5px;
  background-color: $bgItemDark;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  @extend %shadowDark;

  .title {
    @extend %h2;
    word-break: break-word;
  }

  .description {
    @extend %p1;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
    word-break: break-word;

    @media screen and (max-width: 570px) {
      margin: 0.5rem 0;
    }
  }

  &:last-child {
    margin: 0;
  }

  .topCard,
  .bottomCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .btn {
    @extend %p3;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }

  .topCard {
    margin-bottom: 2rem;
    align-items: flex-start;
    @media screen and (max-width: 570px) {
      margin-bottom: 0.5rem;
    }

    .btnEdite {
      color: $main;
      &:hover {
        background-color: rgba($main, 0.1);
      }
    }
  }

  .bottomCard {
    margin-top: 2rem;
    align-items: flex-end;
    .date {
      @extend %p2;
      opacity: 0.5;
    }

    @media screen and (max-width: 570px) {
      margin-top: 0.5rem;
    }

    .btnDelete {
      color: $red;

      &:hover {
        background-color: rgba($red, 0.1);
      }
    }
  }
}
