@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/globalStyles.scss';

.item {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 5px;
  background-color: $bgHeaderDark;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  @extend %shadowDark;

  .title {
    @extend %h2;
    margin-bottom: 1rem;
  }

  &:last-child {
    margin: 0;
  }
}
