@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/typography.scss';
@import '../../../assets/styles/globalStyles.scss';

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;

  @media screen and (max-width: 1050px) {
    overflow-x: scroll;
  }

  .tegsCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %p2;
    color: $white;
  }

  &.maxError {
    border-bottom: 1px solid $red;

    .tegsCounter {
      span {
        color: $red;
      }
      color: $red;
    }
  }

  .item {
    margin-right: 1rem;
    display: flex;
    &:last-child {
      margin: 0;
    }
  }
}
