$mainColor: #2EE5AC;
$colorPriamry: #fff;
$colorShadow: rgb(13, 24, 40);
$colorBlack: #111111;
$colorLightBlack: #333;
$colorHeader: #a1a1a1;
$colorSecondary: rgb(199, 199, 199);
$colorBgModal: rgba(0, 0, 0, 0.8);
$colorYellow: #F0CB50;
$colorRed: red;
$colorText: #fff;